canvas {
  /*background-color: gray;*/
}

#mousePosContainer {
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
  width: 20%;
  padding: 2%;
}

#mousePos {
  border: 1px solid black;
  display: inline-block;
  margin: 15%;
  border-radius: 5%;
  font-size: 2em;
}
